{{> head}}
    <h1>product</h1>
    <div class="main">
       <h1>{{ property.name }}</h1>
       <p>{{ property.price }}</p>
       <p>{{ property.rating }}</p>
       <p>{{ property.category }}</p>
    </div>
{{> foot}}